<?xml version='1.0' encoding='UTF-8'?>
<XRD xmlns='http://docs.oasis-open.org/ns/xri/xrd-1.0'>
    <Subject>{{ acct }}</Subject>
    {% for link in links %}<Link rel='{{ link.rel }}' type='{{ link.type }}' {% if link.href %}href='{{ link.href }}' {% else %}{% if link.template %}template='{{ link.template }}' {% endif %}{% endif %}/>{% endfor %}
</XRD>
